html {
    background: #888;
}

body {
    background: #888;
    margin:10px 0px;
    padding: 0px;
    text-align: center;
    letter-spacing: -1px;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    color: #333;
}

h1, h2, h3, h4{
    font-weight:bold;
}

h1 {
    font-size:180%;
}

h2 {
    font-size:160%;
}

.container {
    background: #FFF none repeat scroll 0 0;
    margin: 0pt auto;
    text-align: left;
    width: 520px;
}

.header {
    background: #DDD none repeat scroll 0 0;
    padding: 10px;
    margin: 0px;
    text-align: center;
    color: #555;
}

.menu {
    background: #AAA none repeat scroll 0 0;
    padding: 10px;
    margin: 0px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}

ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

li {
    display: inline;
    margin: 0px 5px;
}

#content {
    padding: 10px;
}
