html {
    background: #DDD none repeat scroll 0 0;
    color: #333;
    font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
    font-size: 14px;
}

body {
    text-align: left;
}

h1, h2, h3, h4{
    font-weight:bold;
}

h1 {
    font-size:200%;
}

h2 {
    font-size:160%;
}

h3 {
    font-size:120%;
}

p {
    margin: 6pt;
}

.container {
    background: #FFF none repeat scroll 0 0;
    text-align: left;
    /*border: 1px solid #555;*/
    margin: 0pt auto;
}

.content {
    width: 550px;
    margin: 0 auto;
}

.content_title {
    text-align: center;
}

.header {
    background: #EEE url(/media/img/brushed_metal_gray.png) repeat scroll 0 0;
    margin: 0px;
    letter-spacing: -1px;
    text-align: left;
    color: #DDD;
}

.header div {
    padding: 10px;
    margin: auto;
    width: 550px;
}

.menu {
    background: #DDD none repeat scroll 0 0;
    letter-spacing: -1px;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
}

.menu ul {
    margin: auto;
    width: 550px;
    padding: 10px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    text-align: left;
}

.menu li {
    display: inline;
    margin: 0px 5px;
    font-size: 110%;
}

.footer {
    background: #DDD none repeat scroll 0 0;
    border-top: 1px solid #CCC;
    font-size: 12px;
    color: #555;
}

.footer div {
    margin: auto;
    width: 550px;
    text-align: center;
}

.footer a img {
    opacity: 0.5;
}

.footer a:hover img{
    opacity: 1.0;
}

.content {
    padding: 10px;
}

.content img {
    margin-right:10px;
}

.contact-box {
    background: #FFF;
    border: 1px solid #BBB;
    padding: 15px;
    margin: auto;
}

.contact-box li {
    margin: 5px 0px;
}

.contact-box a {
    color:#333;
}

#contact_form {
    display: block;
    margin: 10px auto;
    padding: 15px;
    background: #EEE;
    border: 1px solid #CCC;
}

#contact_form label {
    display: block;
    float: left;
    width: 100px;
}

#contact_form input[type="text"] {
    width: 390px;
}

#contact_form h3 {
    margin-bottom: 5px;
}

#contact_form textarea {
    width: 390px;
    height: 80px;
}

#contact_form .error {
    float: right;
}

.field_wrapper {
    padding: 5px 5px;
}

.submit_row {
    /*margin-left: 450px;*/
    float: right;
    margin: 5px auto 30px;
}

.box {
    margin: 5px;
}

.box ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

.box ul li {
    display: inline;
    margin: 5pt;
}

