body {
    background: #DDDDDD;
    margin:0px;
    padding: 10px;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #444;
}

.container {
    background: #FFFFFF none repeat scroll 0% 0%;
    margin: 0pt auto;
    text-align: left;
    width: 500px;
}

.header {
    padding: 5px;
    margin: 0px;
    text-align: center;
}
