<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}jlcaro.com{% endblock %}</title>
{{ admin.media }}
<link rel="stylesheet" type="text/css" href="{% load media %}{% media_prefix %}css/reset.css" />
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load media %}{% media_prefix %}css/base.css{% endblock %}" />
<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% media_prefix %}css/rtl.css{% endblock %}" />
{% block extrastyle %}{% endblock %}
{% block extrahead %}
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>

<body>

<!-- Container -->
<div class="container">
	{% block header %}
	    <!-- Header -->
		<div class="header">
		    <h1>Jose Luis Caro</h1>
		</div>
		<div class="menu">
		    <ul>
		        <li><a href="/" title="Home">Home</a></li>
		        <li><a href="/contact/" title="Contact">Contact</a></li>
		    </ul>
		</div>
		<!-- END Header -->
	{% endblock %}
    
    <!-- Content -->
    <div id="content">
        
        <p><img alt="Me" src="/media/img/me.jpg" width="50%"/>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium lectus non augue. Suspendisse vel purus. Sed odio arcu, mollis sit amet, gravida eu, adipiscing non, ante. Donec consequat diam in dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras quis nunc sed dolor fermentum scelerisque. Cras pellentesque massa id quam. Phasellus id mi. Morbi vitae nulla. Nullam consequat ornare augue.
</p>
<p>
Aenean sit amet diam. Nulla sit amet leo eu sapien tempor adipiscing. Praesent velit nisl, blandit et, auctor ac, sollicitudin ac, purus. Vestibulum ullamcorper feugiat est. Suspendisse sollicitudin magna eget metus. Aenean facilisis sapien non lectus. Sed eget ipsum vitae leo tempus iaculis. Sed bibendum justo adipiscing risus. Aenean vestibulum augue eget sem mattis auctor. Curabitur eu erat in dui euismod pulvinar. Vestibulum pellentesque elit in sapien. In elit tellus, iaculis consectetur, aliquam in, ornare eu, sem. Sed euismod, eros sed eleifend eleifend, tortor nibh consequat nisl, et scelerisque turpis lacus non neque.
</p>
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
