<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}jlcaro.com{% endblock %}</title>
{{ admin.media }}
<link rel="stylesheet" type="text/css" href="{% load media %}{% media_prefix %}css/reset.css" />
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load media %}{% media_prefix %}css/base.css{% endblock %}" />

{% block extrastyle %}{% endblock %}
{% block extrahead %}
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>

<body>

{% block header %}
	<!-- Header -->
		<div class="header">
		    <div class="header_title">
		        <h1>Jose Luis Caro</h1>
		    </div>
		</div>
		<div class="menu">
		    <ul>
		        <li><a href="/" title="Home">Home</a></li>
		        <li><a href="/contact/" title="Contact">Contact</a></li>
		    </ul>
		</div>
    <!-- END Header -->
{% endblock %}

{% block container %}
<!-- Container -->
<div class="container">
    <!-- Content -->
    <div class="content">
        <div class="content_title">
        <h2>
        {% block content_title %}
        {% endblock %}
        </h2>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <!-- END Content -->
</div>
<!-- END Container -->
{% endblock %}

    {% block footer %}
    <div class="footer">
        <div>
            <p> Copyright - Jose Luis Caro - 
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/co/">Some rights reserved.</a>
            </p><p>
            <a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangosite100x25.gif" border="0" alt="A Django site." title="A Django site." /></a>
            </p>
        </div>
    </div>
    {% endblock %}
    
    {% block analytics %}
        {% include "analytics_fragment.html" %}
    {% endblock %}
</body>
</html>
