{% extends 'base.html' %}
{% block title %}
Contact - {{ block.super }}
{% endblock %}
{% block content_title %}
Contact me
{% endblock %}
{% block content %}
<p>
Right now there are many ways to contact me:
</p>
<div class="contact-box">
<ul>
    <li><b>E-Mail:</b> <a href="mailto:me@jlcaro.com" class="email">me@jlcaro.com</a></li>
    <li><b>GTalk:</b> <a href=""></a>jlcaro@gmail.com</li>
    <li><b>Twitter:</b> <a href="http://www.twitter.com/jlcaro">jlcaro</a></li>
    <!--<li><b></b> <a href=""></a></li> -->
</ul>
</div>
<p><h3>Other services</h3></p>
<div class="box">
<ul>
    <li><a href="http://friendfeed.com/jlcaro"><b>FriendFeed</b></a></li>
    <li><a href="http://www.facebook.com/people/Jose-Luis-Caro-Perez/625426635"><b>Facebook</b></a></li>
    <li><a href="http://www.flickr.com/photos/jlcaro"><b>Flickr</b></a></li>
    <li><a href="http://www.linkedin.com/in/jlcaro">Linked-In</a></li>    
    <li><a href="http://github.com/jlcaro"><b>GitHub</b></a></li>
    <li><a href="http://www.last.fm/user/jlcaro"><b>LastFM</b></a></li>
    <li><a href="http://djangopeople.net/jlcaro/"><b>DjangoPeople</b></a></li>
    <!--<li><a href=""><b></b></a></li> -->
</ul>
</div>
{% endblock %}
