{% if contact_form %}
        
    <form action="">
    <h3>Send me an EMail:</h3>
    <fieldset>
        {% for field in contact_form %}
            <div class="field_wrapper">
                
                    <b>{{ field.label_tag }}</b>{{ field }}
                {% if field.help_text %}
                    <div class="field_help">{{ field.help_text }}</div>
                {% endif %}
                {% if field.errors %}
                    <div class="error">{{ field.errors }}</div>
                {% endif %}
                
            </div>
        {% endfor %}
        <div class="submit_row" align="right">
            <input type="submit" class="button" name="submit" value="Send"/>
        </div>
    </fieldset>
    </form>
    
{% endif %}
