{% extends 'base.html' %}
{% block title %}
{{ block.super }}
{% endblock %}
{% block content %}
        <p>
        <img alt="Me" src="/media/img/me.jpg" width="90" align="left"/><b>
        Hello!!</b><br>
        My name is Jose Luis Caro and I am from Barranquilla, Colombia.
        <br>
        I am an engineer currently employed as the CTO of 
        <a href='http://www.energiasolarsa.com'>Energia Solar</a>.<br>
        I love all things open source, and enjoy 
        <br>
        Currently
        </p>
        <br class="clear" />
{% endblock %}
